@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 222.2 84% 4.9%;

    --muted: 210 40% 96.1%;
    --muted-foreground: 215.4 16.3% 46.9%;

    --popover: 0 0% 100%;
    --popover-foreground: 222.2 84% 4.9%;

    --card: 0 0% 100%;
    --card-foreground: 222.2 84% 4.9%;

    --border: 214.3 31.8% 91.4%;
    --input: 214.3 31.8% 91.4%;

    --primary: 222.2 47.4% 11.2%;
    --primary-foreground: 210 40% 98%;

    --secondary: 210 40% 96.1%;
    --secondary-foreground: 222.2 47.4% 11.2%;

    --accent: 210 40% 96.1%;
    --accent-foreground: 222.2 47.4% 11.2%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 40% 98%;

    --ring: 222.2 84% 4.9%;

    --radius: 0.5rem;
  }

  .dark {
    --background: 222.2 84% 4.9%;
    --foreground: 210 40% 98%;

    --muted: 217.2 32.6% 17.5%;
    --muted-foreground: 215 20.2% 65.1%;

    --popover: 222.2 84% 4.9%;
    --popover-foreground: 210 40% 98%;

    --card: 222.2 84% 4.9%;
    --card-foreground: 210 40% 98%;

    --border: 217.2 32.6% 17.5%;
    --input: 217.2 32.6% 17.5%;

    --primary: 210 40% 98%;
    --primary-foreground: 222.2 47.4% 11.2%;

    --secondary: 217.2 32.6% 17.5%;
    --secondary-foreground: 210 40% 98%;

    --accent: 217.2 32.6% 17.5%;
    --accent-foreground: 210 40% 98%;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 210 40% 98%;

    --ring: 212.7 26.8% 83.9%;
  }
}

* {
  @apply border-border;
}

body {
  @apply bg-background text-foreground;
  -webkit-user-select: none; /* Safari */
  -ms-user-select: none; /* IE 10 and IE 11 */
  user-select: none; /* Standard syntax */
}

.v-enter-active,
.v-leave-active {
  transition: opacity 0.5s ease;
}

.v-enter-from,
.v-leave-to {
  opacity: 0;
}

.router-enter-active,
.router-leave-active {
  transition: opacity 0.3s ease;
}

.router-enter-from,
.router-leave-to {
  opacity: 0;
}

.list-move,
.list-enter-active {
  transition: all 0.3s ease;
}

.list-enter-from,
.list-leave-to {
  opacity: 0;
  transform: translateX(30px);
}

.router-link-active {
  @apply bg-white transition-colors rounded-md transform duration-200;
}

.router-link-active > span,
.router-link-active > span > svg {
  @apply text-primary;
}

div:has(> table:not(.not-default)) {
  @apply flex flex-col h-full w-full mb-14 rounded-md overflow-hidden border border-gray-200 bg-white;
}

table:not(.not-default) {
  @apply w-full table-auto;
}

table:not(.not-default) > thead {
  @apply text-xs h-10 bg-gray-100 max-w-lg w-fit font-semibold text-[rgba(25,23,17,0.6)];
}

table:not(.not-default) > thead > tr {
  @apply [&>*]:border-x whitespace-nowrap first:[&>th]:border-0 last:[&>th]:border-0;
}

table:not(.not-default) > thead > tr > th {
  @apply font-semibold text-left whitespace-nowrap p-2 first-letter:capitalize;
}

html:dir(rtl) table:not(.not-default) > thead > tr > th {
  @apply font-semibold text-right  whitespace-nowrap p-2 first-letter:capitalize;
}

table:not(.not-default) > tbody {
  @apply text-sm divide-y divide-gray-200;
}

table:not(.not-default) > tbody > tr {
  @apply [&>*]:border-x first:[&>td]:border-0 last:[&>td]:border-0;
}
